<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Loads the path to your static files -->
    {% load staticfiles %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'form/style.css' %}">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <title>BITNIK</title>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">BITNIK</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">
            {% if user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="{% block albums_active %}{% endblock %}"><a href="{% url 'form:index' %}"><span class="glyphicon glyphicon-cd" aria-hidden="true"></span>&nbsp; My applications</a></li>
                </ul>
            {% endif %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <div class="dropdown">
                          <div class="dropdown-toggle" type="button" data-toggle="dropdown">Create a new application
                            <span class="caret"></span>
                          </div>
                          <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'form:form' %}">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; For private users
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'form:company' %}">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; For legal representatives
                                </a>
                            </li>
                          </ul>
                        </div>
                    </li>
                    {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'polls:logout' %}">
                            <span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp; Logout
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>

        </div>
    </nav>
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>