{% extends 'polls/base.html' %}
{% block body %}
    {% if linkToGoogle %}
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 text-center signin-window">
            <h2>Prijava z Gmail računom!</h2>
          <a class="btn-two green large" href={{linkToGoogle}}>Prijavi me</a><br />
        </div>
    </div>
    {% elif not_found %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 text-center signin-window">
                <h2>Vaš račun ne obstaja!</h2>
                <p>
                    Za vstop v sistem žal niste avtorizirani.
                </p>
            </div>
        </div>
    {% elif success %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 text-center signin-window">
                <h2>Prijava z Gmail računom!</h2>
                <p>
                    Prijava uspešna!
                </p>
            </div>
        </div>
    {% elif logout %}
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-lg-offset-3 col-lg-6 text-center signin-window">
                <h2>Odjava uspešna!</h2>
                <p>
                    Iz sistema ste se uspešno odjavili.
                </p>
            </div>
        </div>
    {% endif %}
{% endblock %}