body {
    background-color: rgba(155,155,155,.2);
    font-family: 'Open Sans', Arial, sans-serif;
}
.navbar-inverse {
    background-color: white;
    border-color: transparent;
}
.navbar-brand, a {
    color:rgb(79, 79, 79) !important;
}
.navbar-brand:hover, a:hover {
    color:rgb(0, 237, 214) !important;
}
.application-header {
    padding:20px;
    display:block;
    text-align: center;
    color:white;
    background-color:rgba(100,100,100,1);
    font-weight: 600;
    font-size: 16px;
}
.application-subheader {
    padding:10px;
    color:rgb(79, 79, 79) !important;
    background-color:rgb(0, 237, 214) !important;
    font-weight: 600;
    font-size: 16px;
    display:inline-block;
    text-align: center;
    width:100%;
}
.control-label {
    background-color: white !important;
    padding: 8px;
    border-bottom: 1px solid rgba(155,155,155,.5);
    border-right: 1px solid rgba(155,155,155,.5);
}
.control-label > span {
    font-weight: 600;
}
.control-label-input {

}
.p-underline {
    border-bottom: 1px solid rgba(155,155,155,.5);
    margin:0;
    padding:10px 0;
}
.box-signature {
    height:100px;
}
.box-signature-referent {
    height:60px;
}
.form-print {
    margin-bottom:100px;
}
input {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1.5rem;
    line-height: 1.75;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
select {
    display: block;
    width: 100%;
    padding: .7rem .75rem;
    font-size: 1.5rem;
    line-height: 1.75;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
}
.country-select-flag {
    position: absolute !important;
    margin-top: -24px !important;
    margin-left:10px !important;
}
#id_citizenship, #id_representative_citizenship {
    padding-left:30px;
}
.dropdown {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height:20px;
    cursor: pointer;
    color:rgb(79, 79, 79) !important;
}
.dropdown:hover {
    color:rgb(0, 237, 214) !important;
}
.btn.large,
.btn-two.large,
.btn-effect.large {
  padding: 20px 40px;
  font-size: 22px;
}
.btn-two {
	color: rgb(79,79,79) !important;
	padding: 15px 25px;
    margin:50px auto;
	display: inline-block;
	border: 1px solid rgba(0,0,0,0.21);
	border-bottom-color: rgba(0,0,0,0.34);
	text-shadow:0 1px 0 rgba(0,0,0,0.15);
	box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset,
				      0 2px 0 -1px rgba(0,0,0,0.13),
				      0 3px 0 -1px rgba(0,0,0,0.08),
				      0 3px 13px -1px rgba(0,0,0,0.21);
    background: rgba(0, 237, 214, .5) !important;
}
.btn-two:hover {
    color: rgb(100,100,100) !important;
}
.btn-two:active {
	top: 1px;
	border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
	box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
	position: relative;
}
.signin-window {
    padding:20px;
    background-color:rgba(255,255,255,.5);
}
.control-label > input {
    display: inline-block;
    width: 30px;
    margin:0;
}
.title-applications {
    padding: 30px;
    color: rgb(0, 237, 214);
    background-color: rgb(61, 58, 59);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
.title-applications > p {
    margin-bottom:0;
}
.app-list {
    background-color:white;
    font-weight: 600;
    list-style-type: none;
    margin: 0;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
    padding:20px;
}
.app-list > li {
    border-bottom:1px solid rgba(155,155,155,1);
    padding:10px;
}
.glyphicon-print, .glyphicon-download {
    float:right;
    cursor:pointer;
    color:white;
    margin-left:10px;
}
.instruction-body {
    padding: 50px;
    margin-top:10%;
    background: rgb(61, 58, 59);
    color: white;
    box-shadow: 0 0 10px black;
}
.instruction-title {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-bottom:20px;
}