{% for field in form %}
    <div class="col-sm-6">
        <div class="form-group">
            <div class="col-sm-4">
                <span class="text-danger small">{{ field.errors }}</span>
            </div>
        </div>
        <label class="control-label-input col-sm-12" style="text-align:left;">{{ field.label_tag }}</label>
        <div class="col-sm-12 input-field">{{ field }}</div>
    </div>
{% endfor %}