{% extends 'form/base.html' %}
    {% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'form/style.css' %}">
{% block body %}
    {% if user.is_authenticated %}
        <div class="title-applications">
            <p>
                Applications list
            </p>
        </div>
        <div>
        {% if latest_forms %}
        <div class="application-subheader">
            FIZIČNE OSEBE
        </div>
        <ul class="app-list">
            {% for form in latest_forms %}
                <li><a href="{% url 'form:detail' form.id %}">{{ form.name }} {{ form.surname }}, {{ form.email }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <h4 style="text-align: center">You have no individual customers</h4>
        {% endif %}
        {% if latest_forms_company %}
        <div class="application-subheader">
            PODJETJA
        </div>
        <ul class="app-list">
            {% for form in latest_forms_company %}
                <li><a href="{% url 'form:deets' form.id %}">{{ form.representative_name }} {{ form.representative_surname }} - {{ form.company_name }}</a></li>
            {% endfor %}
        </ul>
        {% else %}
            <h4 style="text-align: center">You have no company customers</h4>
        {% endif %}
        </div>
    {% else %}
        <div class="instruction-body">
            <div class="instruction-title">
                Creating an application
            </div>
            <p class="instruction-text">
                To create an application, click on the button in the top right corner of the page.<br><br>
                If you want to collaborate with us in your private capacity (i.e., not as a legal representative of a company),
                please select the "For private users" tab.<br><br>

                For those with authorisation on behalf of a company, the "For legal representatives" tab is the right one.<br><br>

                Please review all questions carefully and don't fill in wrong information on purpose.
            </p>
        </div>
    {% endif %}
{% endblock %}