 <!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
 <html>
     <head>
         <title>Title</title>
         <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
         <style type="text/css">
             body {
                background-color: rgba(155,155,155,.2);
                font-family: 'Open Sans', Arial, sans-serif;
            }
            .application-header {
                padding:18px;
                display:block;
                text-align: center;
                color:white !important;
                background-color:rgb(100,100,100) !important;
                font-weight: 600;
                font-size: 16px;
            }
            .application-subheader {
                padding:9px;
                color:rgb(79, 79, 79) !important;
                background-color:rgb(0, 237, 214) !important;
                font-weight: 600;
                font-size: 16px;
                display:inline-block;
                text-align: center;
                width:100%;
            }
            .col-sm-6 {
                float:left;
                width:50%;
            }
            .col-sm-12 {
                float:left;
                width:100%;
            }
            .control-label {
                background-color: white !important;
                padding: 4px;
                border-bottom: 1px solid rgb(222,222,222) !important;
                border-right: 1px solid rgb(222,222,222) !important;
            }
            .control-label > span {
                font-weight: 600;
            }
            p {
                margin-bottom:0 !important;
            }
            .p-underline {
                border-bottom: 1px solid rgb(222,222,222);
                margin:0;
                padding:10px 0;
            }
            .box-signature {
                height:100px;
            }
            .box-signature-referent {
                height:60px;
            }
            .form-print {
                margin-bottom:100px;
            }
             .checkbox {
                 border: 1px solid rgb(79,79,79);
                 display: inline-block;
                 width: 18px;
                 height: 18px;
                 padding-left:4px;
                 margin-right:20px;
                 font-size:12px;
             }
         </style>
     </head>
     <body>
     <div class="container">
         {% if form %}
         <div class="row form-print">
                <div class="application-header">APPLICATION - PERSONAL ACCOUNT</div>
                <div class="application-subheader">PERSONAL DATA</div>
                <div class="control-label col-sm-6">Name: <span>{{ form.name }}</span></div>
                <div class="control-label col-sm-6">Surname: <span>{{ form.surname }}</span></div>
                <div class="control-label col-sm-12">Citizenship: <span>{{ form.citizenship }}</span></div>
                <div class="control-label col-sm-12">Birth Date and Place: <span>{{ form.birthdate }}, {{ form.birthplace }}</span></div>
                <div class="control-label col-sm-12">Address (street, No., ZIP, City, Country): <span>{{ form.address }}</span></div>
                <div class="control-label col-sm-12">Temporary Address (street, No., ZIP, City, Country): <span>{{ form.temporary_address }}</span></div>
                <div class="control-label col-sm-6">Type of ID: <span>{{ form.id_type }}</span></div>
                <div class="control-label col-sm-6">ID Number: <span>{{ form.id_number }}</span></div>
                <div class="control-label col-sm-6">Expiry date: <span>{{ form.expiry_date }}</span></div>
                <div class="control-label col-sm-6">Tax No.: <span>{{ form.tax_number }}</span></div>
                <div class="control-label col-sm-6">Phone No.: <span>{{ form.phone_number }}</span></div>
                <div class="control-label col-sm-6">E-mail: <span>{{ form.email }}</span></div>
                <div class="control-label col-sm-12">Bank Acc. No. (to deal with Bitnik): <span>{{ form.bank_account }}</span></div>
                <div class="application-subheader">EMPLOYMENT</div>
                <div class="control-label col-sm-6">Employment status: <span>{{ form.employment_status }}</span></div>
                <div class="control-label col-sm-6">Position/Activity: <span>{{ form.position }}</span></div>
                <div class="application-subheader">PURPOSE OF ESTABLISHING BUSINESS RELATIONS</div>
                <div class="control-label col-sm-12">
                    <div class="checkbox">X</div>Opening a trading account
                </div>
                <div class="application-subheader">DECLARATION</div>
                <div class="control-label col-sm-12">
                    <p class="p-underline">By signing this Application i hereby guarantee and expressly:</p>
                    <p class="p-underline">
                    > agree with the General terms of service published on the website <a style="color: rgb(0, 237, 214) !important;" href="https://bitnik.eu/en/general-terms-use/" target="_blank">https://bitnik.eu/en/general-terms-use/</a><br>
                    > declare that the information stated on the Application is correct and I am obliged to report any changes of given data to Bitnik d.o.o., and hereby authorize Bitnik d.o.o. in accordance
                        with the Personal Data Protection Act (ZVOP-1), to use, process, store, integrate in databases and process it with automated processing means for the purpose of establishin a lasting business relationship.
                    </p>
                    <p class="p-underline">I confirm that I am opening this account for the purpose of trading of digital currencies into the euro and vice versa.</p>
                    <p class="p-underline">All the information in this application is confidential. Bitnik d.o.o. undertakes to protect them in accordance with the ZVOP-1. Bitnik d.o.o. will delete
                    all data collected on the basis of this Application from our database once the purpose of business relation has been achieved and/or when the legal deadline
                    which prescribes the retention period for this information expired.
                </p>
                </div>
                <div class="application-subheader">COSTUMER'S SIGNATURE</div>
                <div class="control-label col-sm-6 box-signature">
                    <p>Signature:</p>
                </div>
                <div class="control-label col-sm-6 box-signature">
                    <p>Date and Place:</p>
                </div>
                <div class="application-subheader">FILLED BY BITNIK D.O.O.</div>
                <div class="control-label col-sm-6">Oznaka kategorije tveganja (po ZPPDFT-1):</div>
                <div class="control-label col-sm-6">Politicno izpostavljena oseba:  DA  NE</div>
                <div class="control-label col-sm-12">Opombe:</div>
                <div class="control-label col-sm-12">Ime in Priimek referenta:</div>
                <div class="control-label col-sm-6 box-signature-referent">Podpis:</div>
                <div class="control-label col-sm-6 box-signature-referent">Kraj in Datum:</div>
            </div>
            {% endif %}
         </div>
     </body>
 </html>