{% extends 'form/base.html' %}
{% block title %}Fill the application{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col sm-12">
                <div class="panel panel-default">
                    <div class="col-sm-12 title-applications">
                        PLEASE FILL OUT THE FORM
                    </div>
                    <div class="panel-body">
                        <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% include 'form/form-template.html' %}
                            <div class="form-group">
                                <div class="col-sm-12 text-center" style="margin-top:50px;">
                                    <button type="submit" class="btn btn-success">
                                        SUBMIT
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}