{% extends 'form/base.html' %}
{% block body %}
    {% if error_message %}
        <p>Something went wrong, please fill the form again!</p>
    {% endif %}
    <form action="{% url 'form:saved' %}" method="post">
        {% csrf_token %}
        {% include 'form/form-template.html' %}
        <input type="text" id="fullname" name="fullname" value="fullname">
        <input type="submit" value="Submit" />
    </form>
{% endblock %}