{% extends 'form/base.html' %}
    {% load staticfiles %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'form/style.css' %}">
{% block body %}
    {% if form %}
            <div class="row form-print">
                <div class="application-header">APPLICATION - PERSONAL ACCOUNT<a href="{% url 'form:compdf' form.id %}"><span class="glyphicon glyphicon-download"></span></a><a href="{% url 'form:compdf' form.id %}"><span class="glyphicon glyphicon-print"></span></a></div>
                <div class="application-subheader">PERSONAL DATA</div>
                <div class="control-label col-sm-6">Name: <span>{{ form.name }}</span></div>
                <div class="control-label col-sm-6">Surname: <span>{{ form.surname }}</span></div>
                <div class="control-label col-sm-6">Citizenship: <span>{{ form.citizenship }}</span></div>
                <div class="control-label col-sm-6">Birth Date and Place: <span>{{ form.birthdate }}, {{ form.birthplace }}</span></div>
                <div class="control-label col-sm-12">Address (street, No., ZIP, City, Country): <span>{{ form.address }}</span></div>
                <div class="control-label col-sm-12">Temporary Address (street, No., ZIP, City, Country): <span>{{ form.temporary_address }}</span></div>
                <div class="control-label col-sm-6">Type of ID: <span>{{ form.id_type }}</span></div>
                <div class="control-label col-sm-6">ID Number: <span>{{ form.id_number }}</span></div>
                <div class="control-label col-sm-6">Expiry date: <span>{{ form.expiry_date }}</span></div>
                <div class="control-label col-sm-6">Tax No.: <span>{{ form.tax_number }}</span></div>
                <div class="control-label col-sm-6">Phone No.: <span>{{ form.phone_number }}</span></div>
                <div class="control-label col-sm-6">E-mail: <span>{{ form.email }}</span></div>
                <div class="control-label col-sm-12">Bank Acc. No. (to deal with Bitnik): <span>{{ form.bank_account }}</span></div>
                <div class="application-subheader">EMPLOYMENT</div>
                <div class="control-label col-sm-6">Employment status: <span>{{ form.employment_status }}</span></div>
                <div class="control-label col-sm-6">Position/Activity: <span>{{ form.position }}</span></div>
                <div class="application-subheader">PURPOSE OF ESTABLISHING BUSINESS RELATIONS</div>
                <div class="control-label col-sm-12">
                    <input type="checkbox" value="" checked disabled>
                    Opening a trading account
                </div>
                <div class="application-subheader">DECLARATION</div>
                <div class="control-label col-sm-12">
                    <p class="p-underline">By signing this Application i hereby guarantee and expressly:</p>
                    <p class="p-underline">
                    > agree with the General terms of service published on the website <a style="color: rgb(0, 237, 214) !important;" href="https://bitnik.eu/en/general-terms-use/" target="_blank">https://bitnik.eu/en/general-terms-use/</a><br>
                    > declare that the information stated on the Application is correct and I am obliged to report any changes of given data to Bitnik d.o.o., and hereby authorize Bitnik d.o.o. in accordance
                        with the Personal Data Protection Act (ZVOP-1), to use, process, store, integrate in databases and process it with automated processing means for the purpose of establishin a lasting business relationship.
                    </p>
                    <p class="p-underline">I confirm that I am opening this account for the purpose of trading of digital currencies into the euro and vice versa.</p>
                    <p class="p-underline">All the information in this application is confidential. Bitnik d.o.o. undertakes to protect them in accordance with the ZVOP-1. Bitnik d.o.o. will delete
                    all data collected on the basis of this Application from our database once the purpose of business relation has been achieved and/or when the legal deadline
                    which prescribes the retention period for this information expired.
                </p>
                </div>
                <div class="application-subheader">COSTUMER'S SIGNATURE</div>
                <div class="control-label col-sm-6 box-signature">
                    <p>Signature:</p>
                </div>
                <div class="control-label col-sm-6 box-signature">
                    <p>Date and Place:</p>
                </div>
                <div class="application-subheader">FILLED BY BITNIK D.O.O.</div>
                <div class="control-label col-sm-6">Oznaka kategorije tveganja (po ZPPDFT-1):</div>
                <div class="control-label col-sm-6">Politično izpostavljena oseba:  DA  NE</div>
                <div class="control-label col-sm-12">Opombe:</div>
                <div class="control-label col-sm-12">Ime in Priimek referenta:</div>
                <div class="control-label col-sm-6 box-signature-referent">Podpis:</div>
                <div class="control-label col-sm-6 box-signature-referent">Kraj in Datum:</div>
            </div>
    {% else %}
        <h3>Form seems to be broken</h3>
    {% endif %}
{% endblock %}